Package: com.p2kdev.ndtvnoads
Name: NDTVNoAds
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: No Ads in the NDTV News App!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
